/* CSS for MediaServer browser */
.ms-browser-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    background: #eee !important;
}
.ms-browser-container.in-overlay {
    text-align: left;
}

/* base */
.ms-browser * {
    margin: 0;
    padding: 0;
}
.ms-browser-container a {
    text-decoration: none;
    color: #1C73BF;
}
.ms-browser-container a:hover {
    text-decoration: none;
    color: #004C5C;
}
.ms-browser img {
    vertical-align: middle;
    border: 0 none;
}
.ms-browser ul,
.ms-browser ol {
    padding-left: 24px;
}
.ms-browser li {
    margin-top: 4px;
    margin-bottom: 4px;
}
.ms-browser table {
    border-spacing: 0;
    border-collapse: collapse;
}
.ms-browser p {
    margin: 8px 0;
}
.ms-browser option {
    padding: 2px 5px;
}
.ms-browser .ms-browser-clear {
    clear: both;
    overflow: hidden;
}


/* buttons */
.ms-browser .button {
    margin-right: 8px;
    padding: 3px 8px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: background;
}
.ms-browser button.button {
    padding: 2px 7px;
}
.ms-browser .button.active,
.ms-browser button.button.active {
    color: #fff;
    background: #aaa;
}
.ms-browser br + .button,
.ms-browser br + .button + .button {
    margin-top: 8px;
}


/* structure */
.ms-browser.in-overlay .ms-browser-header,
.ms-browser.in-overlay .ms-browser-bar,
.ms-browser.in-overlay .ms-browser-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ms-browser .ms-browser-header {
    padding: 5px;
    height: 40px;
    line-height: 40px;
}
.ms-browser.in-overlay .ms-browser-header {
    bottom: auto;
}
.ms-browser .ms-browser-menu {
    display: none;
}
.ms-browser.in-overlay .ms-browser-menu {
    float: left;
    display: block;
    width: 300px;
}
.ms-browser .ms-browser-title {
    margin-left: 300px;
    font-size: 200%;
    font-weight: bold;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
}
.ms-browser .ms-browser-title img {
    max-height: 40px;
}
.ms-browser .ms-browser-bar {
    padding: 5px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.ms-browser.in-overlay .ms-browser-bar {
    top: 50px;
    bottom: auto;
}
.ms-browser .ms-browser-bar-left {
    float: left;
}
.ms-browser .ms-browser-bar-right {
    float: right;
}
.ms-browser.in-overlay .ms-browser-main {
    top: 92px;
    overflow: auto;
}
.ms-browser .ms-browser-section {
    overflow: hidden;
}
.ms-browser .ms-browser-section-links {
    float: right;
}
.ms-browser .ms-browser-section-links + h3 + div {
    clear: both;
}
.ms-browser .ms-browser-menu-title,
.ms-browser .ms-browser-section-title {
    font-size: 125%;
    font-weight: bold;
    text-decoration: italic;
    color: #404040;
    padding: 4px;
}
.ms-browser .ms-browser-menu-title {
    margin-bottom: 4px;
    margin-left: -8px;
}
.ms-browser .ms-browser-content {
    padding: 10px;
}

/* buttons */
.ms-browser .ms-browser-tab {
    font-weight: bold;
}
.ms-browser .ms-browser-tab + .ms-browser-tab {
    margin-left: 5px;
}

/* dropdown */
.ms-browser-dropdown {
    margin-left: 10px;
    z-index: 2;
    position: relative;
    display: inline-block;
    line-height: 36px;
}
.ms-browser.in-overlay .ms-browser-dropdown {
    line-height: inherit;
}
.ms-browser-dropdown .ms-browser-dropdown-button.active {
    background: #aaa;
    color: #fff;
}
.ms-browser-dropdown .ms-browser-dropdown-menu {
    top: 100%;
    left: 0;
    position: absolute;
    padding: 8px;
    padding-left: 16px;
    z-index: 4;
    display: none;
    line-height: 24px;
    white-space: nowrap;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.ms-browser-dropdown-right .ms-browser-dropdown-menu {
    left: auto;
    right: 0;
}
.ms-browser-dropdown .ms-browser-dropdown-menu.active {
    display: block;
}
.ms-browser-dropdown .ms-browser-dropdown-menu div + div {
    margin-top: 8px;
}

/* filters menu */
.ms-browser-filters #open_hidden_categories:hover {
    cursor: pointer;
}
.ms-browser-filters #hidden_categories {
    width: 400px;
}
.ms-browser-filters #hidden_categories {
    overflow: hidden;
}
.ms-browser-filters #hidden_categories label {
    margin-right: 8px;
    float: left;
    display: block;
    max-width: 100%;
}
.ms-browser-filters #hidden_categories label input {
    display: inline-block;
    vertical-align: top;
}
.ms-browser-filters #hidden_categories label span {
    white-space: pre-wrap;
    word-break: break-all;
    display: inline-block;
}
.ms-browser-filters .hidden-visibility {
    visibility: hidden;
    height: 1px;
}

/* loading and message */
.ms-browser .ms-browser-message,
.ms-browser .ms-browser-loading {
    position: absolute;
    top: 20px;
    left: 40%;
    display: none;
    padding: 5px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #000;
    background: rgba(0, 0, 0, .7);
}
.ms-browser .ms-browser-message {
    background: #fff;
    color: #000;
}
.ms-browser .ms-browser-loading {
    font-size: 150%;
}

/* messages */
.ms-browser .info,
.ms-browser .success,
.ms-browser .warning,
.ms-browser .error {
    margin: 10px;
    padding: 10px;
    display: block;  /* fallback */
    display: inline-block;
    overflow: hidden;
    line-height: normal;
    text-align: left;
    min-height: 0;
    color: #222;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 1px 0px #ddd;
}
.ms-browser .info:before,
.ms-browser .success:before,
.ms-browser .warning:before,
.ms-browser .error:before {
    padding-right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
}
.ms-browser .info {
    color: #006ba8;
    border-color: #006ba8;
}
.ms-browser .info:before {
    content: "\f05a";
}
.ms-browser .success {
    color: #006002;
    border-color: #006002;
}
.ms-browser .success:before {
    content: "\f058";
}
.ms-browser .warning {
    color: #a85500;
    border-color: #a85500;
}
.ms-browser .warning:before {
    content: "\f071";
}
.ms-browser .error {
    color: #a80000;
    border-color: #a80000;
}
.ms-browser .error:before {
    content: "\f06a";
}

/* channels tab */
.ms-browser .ms-browser-tree-place,
.ms-browser .ms-browser-channels-place {
    padding: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
}
.ms-browser .ms-browser-tree-place {
    left: auto;
    width: 280px;
    background: #fff;
}
.ms-browser .ms-browser-channels-place {
    right: 300px;
}
/* channels tree */
.ms-channels-tree ul {
    padding-left: 0;
}
.ms-channels-tree li {
    line-height: 18px;
    overflow: hidden;
    list-style: none;
}
.ms-channels-tree ul ul {
    display: none;
    padding-left: 20px;
}
.ms-channels-tree li .list-none {
    margin-right: 23px;
}
.ms-channels-tree li .list-entry {
    padding: 0;
    display: block;
    float: left;
    text-align: center;
    font-weight: normal;
    vertical-align: top;
    line-height: 14px;
    width: 16px;
    height: 16px;
    cursor: default;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: content-box;
    margin-right: 5px;
    outline: none;
}
.ms-channels-tree li .list-entry {
    cursor: pointer;
}
.ms-channels-tree li .list-entry .fa {
    padding-left: 0px;
}
.ms-channels-tree .channel-personal-btn {
    float: right;
}
.ms-channels-tree #tree_channel_0 {
    clear: both;
}
.ms-channels-tree .channel-btn {
    display: block;
    cursor: pointer;
    color: #145284;
    text-align: left;
    background: transparent;
    border: 0 none;
    word-wrap: break-word;
    box-sizing: content-box;
}
.ms-channels-tree li .channel-btn {
    margin-left: 21px;
}
.ms-channels-tree .channel-btn:hover,
.ms-channels-tree .channel-active .channel-btn {
    color: #086E9A;
}
.ms-channels-tree .channel-active .channel-btn {
    font-weight: bold;
}
.ms-channels-tree .channel-locked,
.ms-channels-tree .channel-empty,
.ms-channels-tree .channel-empty .channel-btn {
    color: #666;
}

/* search tab */
.ms-browser .ms-browser-search-form {
    display: inline;
}
.ms-browser .ms-browser-search-form input {
    width: auto;
    padding: 3px;
}
.ms-browser .ms-browser-search-matching {
    padding: 10px 30px;
}

/* latest tab */
.ms-browser .ms-browser-latest-btns {
    margin: 8px 5px;
    text-align: center;
}

/* channel content list */
.ms-items .item-entry,
.ms-items .item-description {
    margin: 10px;
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 2px 1px 0px #ddd;
    border-bottom: 3px solid #ccc;
    border-radius: 3px;
}
.ms-items .item-entry {
    display: inline-block;
    width: calc(50% - 20px);
}
.ms-items .item-description {
    padding: 10px;
}
.ms-items .item-entry * {
    box-sizing: content-box;
}
.ms-items .item-entry.selectable {
    border-bottom: 3px solid #1C73BF;
}
.ms-items .item-entry.selected {
    border-bottom: 3px solid #008750;
}
.ms-items .item-entry.selected .item-entry-title {
    color: #008750;
}
.ms-browser-title .selected {
    color: #008750;
}
.ms-items .item-entry-preview {
    margin: 10px 15px 10px 10px;
    width: 240px;
    height: 135px;
    line-height: 135px;
    text-align: center;
    float: left;
    display: block;
    position: relative;
}
.ms-items .item-entry-small .item-entry-preview {
    margin: 5px 20px 5px 5px;
    line-height: 45px;
    width: 60px;
    height: 45px;
}
.ms-items .item-entry-preview img {
    max-width: 100%;
    max-height: 100%;
    margin-top: -2px;
    vertical-align: middle;
}
.ms-items .item-entry-preview span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background: transparent none 50% 50% no-repeat;
}
.ms-items .item-entry-preview .item-current-icon {
    background-image: url('../images/32_channel.png');
}
.ms-items .item-entry-preview .item-parent-icon {
    background-image: url('../images/32_parent.png');
}
.ms-items .item-entry-link {
    display: block;
    overflow: hidden;
    color: inherit;
}
.ms-items .item-entry-link.clickable {
    cursor: pointer;
    color: #145284;
}
.ms-items .item-entry-link.clickable:hover {
    color: #086E9A;
}
.ms-items .item-entry-content {
    padding: 10px;
    display: inline-block;
    width: calc(100% - 300px);
}
.ms-items .item-entry-small .item-entry-content {
    padding-top: 15px;
    display: block;
    width: auto;
}

.ms-items .item-entry-top-bar {
    display: block;
    overflow: hidden;
    margin-bottom: 4px;
    padding-bottom: 4px;
}
.ms-items .item-entry-top-bar .item-entry-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0;
}
.ms-items .item-entry-small .item-entry-content .item-entry-top-bar {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0 none;
}
.ms-items .item-entry-duration {
    display: block;
    float: right;
    margin-left: 10px;
    color: #666;
}
.ms-items .item-entry-unlisted,
.ms-items .item-entry-notpublished,
.ms-items .item-entry-published,
.ms-items .item-entry-notready {
    margin-left: 10px;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    cursor: help;
}
.ms-items .item-entry-unlisted:before,
.ms-items .item-entry-notpublished:before,
.ms-items .item-entry-published:before,
.ms-items .item-entry-notready:before {
    color: #666;
    font: normal normal normal 16px/1 FontAwesome;
}
.ms-items .item-entry-unlisted:before {
    content: "\f070";
}
.ms-items .item-entry-notpublished:before {
    content: "\f023";
}
.ms-items .item-entry-published:before {
    content: "\f058";
    color: #080;
}
.ms-items .item-entry-notready:before {
    content: "\f085";
    color: #850;
}

.ms-items .item-entry-bottom-bar {
    display: block;
}
.ms-items .item-entry-views,
.ms-items .item-entry-annotations,
.ms-items .item-entry-parent,
.ms-items .item-entry-type {
    display: block;
    color: #666;
}
.ms-items .item-entry-annotations {
    font-style: italic;
}
.ms-items .item-entry-annotations {
    padding: 5px 10px;
    padding-bottom: 0;
}
.ms-items .item-entry-annotations ul {
    overflow: auto;
    max-height: 100px;
}

.ms-items .item-entry-links {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;
}
.ms-items .item-entry-small .item-entry-links {
    top: 0;
    bottom: 0;
    line-height: 45px;
}
.ms-items .item-entry-links-container {
    display: none;
}
.ms-items .item-entry:hover .item-entry-links-container {
    display: block;
}
.ms-items .item-entry .item-entry-description {
    max-height: 40px;
    overflow: auto;
}

/* thumbnail mode */
.ms-items .item-entry.thumbnail {
    padding: 0;
    overflow: hidden;
    width: 240px;
    cursor: auto;
    display: inline-block;
    text-align: center;
    line-height: inherit;
}
.ms-items .item-entry.thumbnail.small {
    width: 176px;
    font-size: inherit;
}
.ms-items .item-entry.thumbnail > .item-entry-link {
    height: 100%;
}
.ms-items .item-entry.thumbnail .item-entry-preview,
.ms-items .item-entry.thumbnail .item-entry-content,
.ms-items .item-entry.thumbnail .item-entry-top-bar,
.ms-items .item-entry.thumbnail .item-entry-bottom-bar {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
.ms-items .item-entry.thumbnail .item-entry-preview {
    height: 135px;
    line-height: 135px;
}
.ms-items .item-entry.thumbnail.small .item-entry-preview {
    height: 99px;
    line-height: 99px;
}

.ms-items .item-entry.thumbnail .item-entry-top-bar {
    padding-right: 10px;
    left: 0;
    top: 0;
    position: absolute;
    background: #fff;
    width: auto;
    border-bottom-right-radius: 3px;
}
.ms-items .item-entry.thumbnail .item-entry-unlisted,
.ms-items .item-entry.thumbnail .item-entry-notpublished,
.ms-items .item-entry.thumbnail .item-entry-published,
.ms-items .item-entry.thumbnail .item-entry-notready,
.ms-items .item-entry.thumbnail .item-entry-duration {
    padding: 5px;
    float: left;
    font-style: italic;
}
.ms-items .item-entry.thumbnail .item-entry-top-bar > *,
.ms-items .item-entry.thumbnail .item-entry-bottom-bar > * {
    font-weight: bold;
    word-wrap: break-word;
}
.ms-items .item-entry.thumbnail .item-entry-title {
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.ms-items .item-entry.thumbnail .item-entry-info,
.ms-items .item-entry.thumbnail .item-entry-edit {
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    cursor: pointer;
    border: none;
    background: white;
    padding: 0;
    margin: 5px;
    width: 35px;
    height: 32px;
    border-radius: 4px;
    font-size: 1.5em;
}
.ms-items .item-entry.thumbnail .item-entry-info.info-displayed,
.ms-items .item-entry.thumbnail:hover .item-entry-info,
.ms-items .item-entry.thumbnail:hover .item-entry-edit {
    display: block;
}
.ms-items .item-entry.thumbnail .item-entry-edit {
    top: 42px;
}
.ms-items .item-entry.thumbnail .item-entry-info .fa,
.ms-items .item-entry.thumbnail .item-entry-edit .fa {
    padding: 5px;
}

@media (max-width: 1280px) {
    .in-overlay .ms-items .ms-browser-channels-place .item-entry.list {
        display: block;
        margin: 5px 0;
        width: auto;
    }
    .ms-items .item-entry-preview {
        width: 120px;
        height: 91px;
        line-height: 91px;
    }
    .ms-items .item-entry-content {
        width: calc(100% - 175px);
    }
}
@media (max-width: 800px) {
    .ms-items .item-entry.list {
        display: block;
        margin: 5px 0;
        width: auto;
    }
    .ms-items .item-entry-links-container {
        display: inline-block;
    }
}
@media (max-width: 600px) {
    .ms-items .item-entry-preview {
        margin: 0;
    }
    .ms-items .item-entry-content {
        width: calc(100% - 130px);
        padding: 5px;
    }
}