/* Additional CSS for non overlay use */
nav.navbar .buttons-left .back {
    font-size: 1.1em;
}
nav.navbar .buttons-left > div {
    display: inline-block;
}
nav.navbar .links {
    display: none;
}
nav.navbar .buttons-left,
nav.navbar .buttons-right {
    width: auto;
    vertical-align: middle;
    line-height: 39px;
}
nav.navbar .buttons-right {
    float: right;
}
/* ms-browser */
.ms-browser .ms-browser-header {
    display: none;
}
.ms-browser .ms-browser-section {
    overflow: visible;
}
.ms-browser .ms-browser-panel {
    border: 0 none;
    border-radius: 0;
}
.ms-browser .ms-browser-main .ms-browser-section .ms-browser-section-title {
    font-size: 1.8em;
    padding: 15px;
}
.ms-browser .ms-browser-main .ms-browser-section {
    padding: 20px 20px;
}
.ms-browser .ms-browser-channels-place {
    padding: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: static;
    overflow: visible;
    background: transparent;
    width: auto;
}
.ms-browser .ms-browser-tree-place {
    display: none;
}
/* channels tab */
.ms-browser-content .channel-description-text {
    margin: 10px;
}
.ms-browser-content .channel-description-text.short-desc {
    cursor: pointer;
}
.ms-browser-content .channel-description-stats,
.ms-browser-content .channel-description-rss {
    padding: 0 15px;
}
.ms-browser-content .channel-description-rss a {
    margin-left: 10px;
}
.ms-browser-content .item-entry-links {
    text-align: right;
}
/* ms-items */
.ms-items .item-entry,
.ms-items .item-entry.selectable {
    border-bottom: 1px solid #ccc;
}
/* overlay-info */
.overlay-info .overlay-info-content .item-entry-links {
    position: static;

    display: block;
}
.overlay-info {
    z-index: 10;

    width: 500px !important;
}
.overlay-info form + form {
    margin-top: 12px;
}
.overlay-info {
    max-width: 95%;
    top: 0;
    left: auto;
    right: auto;
    display: none;
    position: absolute;
    text-align: left;
    width: 361px;
    border: 1px solid #aaa;
    color: #fff;
    overflow: hidden;
    background: transparent url("../images/black_mask.png") 0 0 repeat;
    border-radius: 3px;
}
.overlay-info-title {
    position: relative;
    background: #eee;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}
.overlay-info h3 {
    margin: 0;
    padding: 0;
}
.overlay-info h3 a {
    padding: 4px 8px;
    padding-right: 30px;
    display: block;
}
.overlay-info .overlay-info-close {
    right: 2px;
    top: 2px;
    position: absolute;
    width: 22px;
    height: 22px;
    text-align: center;
    display: block;
    padding: 0;
    cursor: pointer;
}
.overlay-info .overlay-info-close i {
    display: block;
}
.overlay-info-content {
    padding: 6px;
}
.overlay-info div.description-content {
    padding-left: 12px;
    padding-right: 12px;
}
.overlay-info table.overlay-info-table td {
    padding: 4px 0;
    vertical-align: top;
    border: 0 none;
}
.overlay-info table.overlay-info-table td.overlay-info-label {
    padding-right: 8px;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
}
.overlay-info a.white {
    color: #ccc;
}
.overlay-info a.white:hover {
    color: #fff;
}
.overlay-info-content .overlay-info-table a {
    text-decoration: underline;
}
.overlay-info-content .overlay-info-table a:hover {
    color: #fff;
    text-decoration: underline;
}
.overlay-info .item-entry-links .button a {
    text-decoration: none;
    color: #333;
}
@media (max-width: 10000px) {

}
@media (max-width: 1920px) {

}
@media (max-width: 1600px) {

}
@media (max-width: 1280px) {
    .ms-items .item-entry .item-entry-content .item-entry-description {
        display: none;
    }
}
@media (max-width: 800px) {
    .ms-browser .ms-browser-section {
        padding: 2px;
    }
    .ms-browser .ms-browser-section-links {
        float: none;
        text-align: center;
        display: block;
    }
    .ms-items .item-entry.thumbnail {
        display: inline-block;
        margin: 10px;
        width: 240px;
    }
    .ms-items .item-entry-unlisted,
    .ms-items .item-entry-notpublished,
    .ms-items .item-entry-published,
    .ms-items .item-entry-notready {
        margin-right: 3px;
    }
    nav.navbar .buttons-left,
    nav.navbar .buttons-right {
        width: auto;
    }
    .overlay-info {
        left: auto!important;
        right: auto!important;
    }
}
@media (max-width: 600px) {
    .ms-items .item-entry > .item-entry-link {
        min-height: 90px
    }
    #global .main-title h1 {
        text-align: center;
        max-width: 100%;
    }
    .ms-items .item-entry.thumbnail .item-entry-bottom-bar {
        text-align: center;
    }
}