/* Additional CSS for non overlay use */
nav.navbar .buttons-left .back {
    font-size: 1.1em;
}
nav.navbar .links {
    display: none;
}
nav.navbar .button-right {
    float: right;
    vertical-align: middle;
    line-height: 39px;
}
.hidden-visibility {
    visibility: hidden;
    height: 1px;
}
#global {
    background: #EEE;
}
#global .main-title {
    background: #FFF;
    padding: 5px 20px;
    box-shadow: 0px 2px 1px 0px #DDD;
}
#global .main-title h1 {
    margin: 0;
    padding: 15px;
}
#global .main-title .channel-description-rss {
    padding: 0 15px;
}
#global .main-title .channel-description-text {
    display: block;
    font-size: 0.7em;
}
#global .main-title .channel-description-text.small {
    cursor: pointer;
}
#global .main-title .item-entry-links {
    text-align: right;
}
.ms-browser-top-btns .ms-browser-top-menu {
    padding: 8px;
    padding-left: 16px;
    position: absolute;
    z-index: 4;
    top: 55px;
    left: 10px;
    right: auto;
}
/* ms-browser */
.ms-browser-section-links,
.ms-browser-top-btns {
    display: inline-block;
    margin: 5px;
}
.ms-browser-top-btns {
    line-height: inherit;
    position: static;
    z-index: inherit;
    top: auto;
    right: auto;
    height: auto;
}
.ms-browser .ms-browser-section {
    overflow: visible;
}
.ms-browser .ms-browser-main {
    margin: 0;
}
.ms-browser .ms-browser-block {
    min-height: 100px;
}
.ms-browser .ms-browser-header {
    display: none;
}
.ms-browser .ms-browser-main {
    border: none;
}
.ms-browser .ms-browser-tab {
    color: #FFF;
}
.ms-browser .ms-browser-tab.active {
    background: none;
    font-weight: bold;
    text-decoration: underline;
}
.ms-browser .ms-browser-tab:hover {
    background: none;
    color: white;
    text-decoration: underline;
}
.ms-browser .ms-browser-panel {
    border: 0 none;
    border-radius: 0;
}
.ms-browser .ms-browser-main .ms-browser-panel .ms-browser-header {
    padding: 6px 8px;
    font-weight: bold;
    color: #fff;
    background-color: #1d4b5f;
    background-image: none;
}
#ms_browser_search_menu .dropdown {
    min-width: 150px;
    padding: 5px;
}
#ms_browser_search_menu .ms-browser-search-block {
    display: inline-block;
}
.ms-browser .ms-browser-filters-menu {
    z-index: 10;
}
.ms-browser .ms-browser-panel-search .ms-browser-header span {
    display: block;
}
.ms-browser .ms-browser-panel-search .ms-browser-header span,
.ms-browser .ms-browser-filters-btn-place {
    color: white;
}
.ms-browser .ms-browser-header {
    height: auto;
}
.ms-browser .ms-browser-main .ms-browser-header {
    padding: 4px 6px;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
}
.ms-browser .ms-browser-display-btn-place {
    top: 8px;
}
.ms-browser .ms-browser-main .ms-browser-block .ms-browser-section .ms-browser-section-title {
    font-size: 1.8em;
    padding: 15px;
}
.ms-browser .ms-browser-main .ms-browser-block .ms-browser-section {
    padding: 20px 20px;
}
/* ms-items */
.ms-items .item-entry-content {
    display: inline-block;
    width: calc(100% - 300px);
    padding: 10px;
}
.ms-items .item-entry-preview {
    width: 240px;
    height: 135px;

    margin: 10px 25px 10px 10px;
}
.ms-items .item-entry-annotations ul {
    overflow: auto;

    max-height: 100px;
}
.ms-items .item-entry-link.clickable {
    width: 100%;
    height: 100%;
    padding: 0;
}
.ms-items .item-entry.item-type-parent {
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 1;

    border-color: transparent !important;
    border-radius: 0;
    background: transparent !important;
}
.ms-items .item-entry.item-type-parent .item-entry-link {
    display: none;
}
.ms-items .item-entry.item-type-parent .item-entry-links {
    display: block;
    position: static;
    line-height: normal;
}
.ms-items .item-entry.item-type-parent .item-entry-links-container {
    display: block;
}
.ms-items .item-entry.selected {
    border-color: #ccc;
}
.ms-items .item-entry.selected {
    border-color: #ccc;
}
.ms-items .item-entry-link.clickable,
.ms-items .item-entry-link.clickable:hover,
.ms-items .item-entry.selectable .item-entry-title,
.ms-items .item-entry.selected .item-entry-title {
    color: #666;
}
.ms-items .item-entry .item-entry-content .item-entry-description {
    max-height: 69px;
    overflow: auto;
}
.ms-items .item-entry-small .item-entry-content {
    margin-left: 10px;
    line-height: normal;
}
.ms-items .item-entry.thumbnail.selectable,
.ms-items .item-entry.selectable {
    border: none;
}
.ms-items .item-entry .item-entry-placeholder {
    padding-right: 4px;
    float: right;
    display: block;
    height: 0;
}
.ms-items .item-entry:hover .item-entry-placeholder {
    display: none;
}
.ms-items .item-entry.thumbnail:hover .item-entry-bottom-bar > * {
    color: #666;
}
.ms-items .item-entry {
    display: inline-block;
    margin: 10px;
    width: calc(50% - 20px);
    background: #FFF;
    box-shadow: 2px 2px 1px 0px #DDD;
}
.ms-items .item-entry.thumbnail {
    width: 240px;
    background: #FFF;
    border: none;
    float: none;
    display: inline-block;
}
.ms-items .item-entry.thumbnail .item-entry-preview,
.ms-items .item-entry.thumbnail .item-entry-content,
.ms-items .item-entry.thumbnail .item-entry-bottom-bar {
    position: static;
    display: inline-block;
    width: 238px;
}
.ms-items .item-entry.thumbnail .item-entry-preview {
    height: 135px;
}
.ms-items .item-entry.thumbnail .item-entry-bottom-bar {
    background: none;
    text-align: left;
}
/* overlay-info */
.overlay-info .overlay-info-content .item-entry-links {
    position: static;

    display: block;
}
.overlay-info {
    z-index: 10;

    width: 500px !important;
}
.overlay-info div.fieldset-content {
    padding: 2px;
}
.overlay-info form + form {
    margin-top: 12px;
}
.overlay-info {
    top: 0;
    left: auto;
    right: auto;
    display: none;
    position: absolute;
    text-align: left;
    width: 361px;
    border: 1px solid #aaa;
    color: #fff;
    background: transparent url("../images/black_mask.png") 0 0 repeat;
    border-radius: 3px;
}
.overlay-info-title {
    position: relative;
    background: #eee;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.overlay-info h3 {
    margin: 0;
    padding: 0;
}
.overlay-info h3 a {
    padding: 4px 8px;
    padding-right: 30px;
    display: block;
}
.overlay-info .overlay-info-close {
    right: 2px;
    top: 2px;
    position: absolute;
    width: 20px;
    height: 16px;
    text-align: center;
    display: block;
    cursor: pointer;
}
.overlay-info .overlay-info-close i {
    font-size: 120%;
    display: block;
}
.overlay-info-content {
    padding: 6px;
}
.overlay-info div.description-content {
    padding-left: 12px;
    padding-right: 12px;
}
.overlay-info fieldset {
    margin-bottom: 12px;
}
.overlay-info table.overlay-info-table td {
    padding: 4px 0;
    vertical-align: top;
}
.overlay-info table.overlay-info-table td.overlay-info-label {
    padding-right: 8px;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
}
.overlay-info a.white {
    color: #ccc;
}
.overlay-info a.white:hover {
    color: #fff;
}
.overlay-info-content .overlay-info-table a {
    color: #3D6B7F;
    text-decoration: underline;
}
.overlay-info-content .overlay-info-table a:hover {
    color: #fff;
    text-decoration: underline;
}
.overlay-info .item-entry-links .button a {
    text-decoration: none;
    color: #333;
}
@media (max-width: 10000px) {

}
@media (max-width: 1920px) {

}
@media (max-width: 1600px) {

}
@media (max-width: 1280px) {
    .ms-items .item-entry-preview {
        width: 120px;
        height: 91px;
    }
    .ms-items .item-entry-content {
        width: calc(100% - 175px);
    }

}
@media (max-width: 800px) {
    .ms-browser .ms-browser-main .ms-browser-block .ms-browser-section {
        padding: 2px;
    }
    .ms-browser .ms-browser-main .ms-browser-block .ms-browser-section .item-entry {
        display: block;
        margin: 5px 0;
        width: 100%;
    }
    .ms-browser .ms-browser-section-links {
        float: none;
        text-align: center;
        display: block;
    }
    .ms-items .item-entry-unlisted,
    .ms-items .item-entry-notpublished,
    .ms-items .item-entry-published,
    .ms-items .item-entry-notready {
        margin-right: 22px;
    }
}
@media (max-width: 600px) {
    .ms-items .item-entry-preview {
        display: none;
    }
    .ms-items .item-entry-content {
        width: 100%;
        padding: 15px;
    }
    nav.navbar .button-right {
        float: none;
    }
    #global .main-title h1 {
        text-align: center;
        max-width: 100%;
    }
}
@media (max-width: 340px) {
    .ms-items .item-entry .item-entry-links {
        display: none;
    }
    .ms-items .item-entry-top-bar .item-entry-title {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 5px;
        left: 15px;
    }
}