/* CSS for MediaServer browser */
.ms-browser {
    --ubi-legacy-white-rgbb: 255, 255, 255;
    --ubi-legacy-white: #ffffff;
    --ubi-legacy-white-darker: #f5f5f6;
    --ubi-legacy-black: #37373c;
    --ubi-legacy-black-rgb: 55, 55, 60;
    --ubi-legacy-black-darker: #000000;
    --ubi-legacy-black-darker-rgb: 0, 0, 0;
    --ubi-legacy-black-lighter: #666;
    --ubi-legacy-grey: #999;
    --ubi-legacy-grey-lighter: #DDD;
    --ubi-legacy-blue-lighter: #E2EFFD;
    --ubi-legacy-blue: #274BB1;
    --ubi-legacy-blue-darker: #000F32;
    --ubi-legacy-green: #1DCDCF;
    --ubi-legacy-green-lighter: #DDF7F7;
    --ubi-legacy-green-darker: #00c5c5;
    --ubi-legacy-red: #e14149;
    --ubi-legacy-red-rgb: 225, 65, 73;
    --ubi-legacy-red-darker: #9B1B2B;
    --ubi-legacy-red-lighter: #FECFC9;
    --ubi-legacy-orange: #ff806c;
    --ubi-legacy-orange-lighter: #FECFC9;
    --ubi-legacy-violet: #AA60FF;
    --ubi-legacy-violet-lighter: #EBDBFF;
    --ubi-legacy-yellow: #FFCF03;
    --ubi-legacy-yellow-lighter: #fff4C7;
}
.ms-browser-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    color: var(--ubi-legacy-black);
}
.ms-browser-container.in-overlay {
    text-align: left;
}
.odm-main div.odm-element.ms-browser-container {
    background: var(--ubi-legacy-white-darker);
}

/* base */
.ms-browser * {
    margin: 0;
    padding: 0;
}
.ms-browser-container a {
    text-decoration: none;
    color: var(--ubi-legacy-blue);
}
.ms-browser-container a:hover {
    text-decoration: none;
    color: var(--ubi-legacy-blue-darker);
}
.ms-browser img {
    vertical-align: middle;
    border: 0 none;
}
.ms-browser ul,
.ms-browser ol {
    padding-left: 24px;
}
.ms-browser li {
    margin-top: 4px;
    margin-bottom: 4px;
}
.ms-browser table {
    border-spacing: 0;
    border-collapse: collapse;
}
.ms-browser p {
    margin: 8px 0;
}
.ms-browser option {
    padding: 2px 5px;
}
.ms-browser label {
    display: inline;
}
.ms-browser input,
.ms-browser select {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}
.ms-browser .ms-browser-clear {
    clear: both;
    overflow: hidden;
}
.ms-browser .storage-available {
    margin-left: 24px;
    white-space: nowrap;
}
.ms-browser .storage-available + .item-entry-links {
    margin-left: 24px;
}


/* buttons */
.ms-browser .button {
    margin: 0;
    margin-right: 8px;
    padding: 3px 8px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: background;
    box-sizing: border-box;
}
.ms-browser .button.active,
.ms-browser button.button.active {
    color: var(--ubi-legacy-white);
    background: var(--ubi-legacy-black);
}
.ms-browser br + .button,
.ms-browser br + .button + .button {
    margin-top: 8px;
}


/* tooltips */
.ms-browser .ubi-legacy-tooltip-button {
    padding: 2px;
}
.ms-browser .ubi-legacy-tooltip-button .tooltip-hidden-content {
    display: none;
}


/* structure */
.ms-browser.in-overlay .ms-browser-header,
.ms-browser.in-overlay .ms-browser-bar,
.ms-browser.in-overlay .ms-browser-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ms-browser .ms-browser-header {
    padding: 0.3em;
    height: 3.2em;
    line-height: 3.2em;
}
.ms-browser.in-overlay .ms-browser-header {
    bottom: auto;
}
.ms-browser .ms-browser-header .ms-browser-top-buttons {
    float: right;
    display: block;
}
.ms-browser .ms-browser-header .ms-browser-menu {
    padding-right: 5px;
    float: left;
    display: block;
}
.ms-browser .ms-browser-title {
    font-size: 200%;
    font-weight: bold;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    height: 100%;
    overflow: hidden;
}
.ms-browser .ms-browser-title img {
    max-height: 1.4em;
}
.ms-browser .ms-browser-title .parent-channel-title {
    color: var(--ubi-legacy-black-lighter);
    font-size: 80%;
}
.ms-browser .ms-browser-title .parent-channel-title:after {
    content: " > ";
}
.ms-browser .ms-browser-bar {
    padding: 0.3em;
    line-height: 2.6em;
    text-align: center;
    background: var(--ubi-legacy-white);
    border-top: 1px solid var(--ubi-legacy-grey-lighter);
    border-bottom: 1px solid var(--ubi-legacy-grey-lighter);
    box-shadow: 1px 1px 2px rgba(var(--ubi-legacy-black-rgb), 0.4);
    z-index: 1;
}
.ms-browser.in-overlay .ms-browser-bar {
    top: 3.8em;
    bottom: auto;
    height: 2.6em;
}
.ms-browser.in-overlay .ms-browser-main {
    top: 7em;
    overflow: auto;
}
.ms-browser .ms-browser-section {
    padding: 0;
}
.ms-browser .ms-browser-section-links {
    float: right;
}
.ms-browser .ms-browser-section-links + h3 + div {
    clear: both;
}
.ms-browser h3,
.ms-browser h4 {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: italic;
    color: var(--ubi-legacy-black);
}
.ms-browser.in-overlay h3,
.ms-browser h4 {
    font-size: 125%;
}
.ms-browser h4 {
    padding: 0;
    margin-bottom: 4px;
    margin-left: -8px;
}
.ms-browser .ms-browser-content {
    padding: 10px;
}

/* buttons */
.ms-browser .ms-browser-tab {
    margin: 0;
}
.ms-browser .ms-browser-tab.active {
    font-weight: bold;
}
.ms-browser .ms-browser-tab + .ms-browser-tab {
    margin-left: 5px;
}

/* dropdown */
.ms-browser-dropdown {
    margin-left: 10px;
    z-index: 2;
    position: relative;
    display: inline-block;
}
.ms-browser .ms-browser-dropdown + .ms-browser-dropdown {
    z-index: 1;
}
.ms-browser .ms-browser-header .ms-browser-dropdown {
    z-index: 4;
}
.ms-browser-dropdown .ms-browser-dropdown-button.active {
    background: var(--ubi-legacy-black);
    color: var(--ubi-legacy-white);
}
.ms-browser-dropdown .ms-browser-dropdown-menu {
    top: 100%;
    left: 0;
    position: absolute;
    padding: 8px;
    padding-left: 16px;
    z-index: 5;
    display: none;
    line-height: 24px;
    white-space: nowrap;
    text-align: left;
    border: 1px solid var(--ubi-legacy-grey-lighter);
    border-radius: 4px;
    color: var(--ubi-legacy-black);
    background: var(--ubi-legacy-white);
    box-shadow: 1px 1px 2px rgba(var(--ubi-legacy-black-darker-rgb), 0.4);
}
.ms-browser-dropdown-right .ms-browser-dropdown-menu {
    left: auto;
    right: 0;
}
.ms-browser-dropdown .ms-browser-dropdown-menu.active {
    display: block;
}
.ms-browser-dropdown .ms-browser-dropdown-menu div + div {
    margin-top: 8px;
}

/* filters menu */
#ms_browser_display_dropdown select,
#ms_browser_display_dropdown input,
#ms_browser_display_dropdown button {
    margin: 4px;
}
#ms_browser_display_dropdown #hidden_categories {
    width: 400px;
    overflow: hidden;
}
#ms_browser_display_dropdown #hidden_categories label {
    margin-right: 8px;
    float: left;
    display: block;
    max-width: 100%;
}
#ms_browser_display_dropdown #hidden_categories label input {
    display: inline-block;
    vertical-align: top;
}
#ms_browser_display_dropdown #hidden_categories label span {
    white-space: pre-wrap;
    word-break: break-all;
    display: inline-block;
}
#ms_browser_display_dropdown .hidden-visibility {
    visibility: hidden;
    height: 1px;
}

/* loading and message */
.ms-browser .ms-browser-message,
.ms-browser .ms-browser-loading {
    position: absolute;
    top: 20px;
    left: 40%;
    display: none;
    padding: 10px;
    color: var(--ubi-legacy-white);
    border-radius: 3px;
    background: var(--ubi-legacy-black);
    background: rgba(var(--ubi-legacy-black-darker-rgb), .7);
    z-index: 1;
}
.ms-browser .ms-browser-message {
    background: var(--ubi-legacy-white);
    color: var(--ubi-legacy-black);
}
.ms-browser .ms-browser-loading {
    font-size: 150%;
}

/* messages */
.ms-browser .messages {
    text-align: center;
}
.ms-browser .message.info,
.ms-browser .message.success,
.ms-browser .message.warning,
.ms-browser .message.error {
    margin: 10px;
    padding: 10px;
    padding-left: 40px;
    display: block;  /* fallback */
    display: inline-block;
    position: relative;
    line-height: normal;
    text-align: left;
    min-height: 0;
    color: var(--ubi-legacy-white);
    background: var(--ubi-legacy-black);
    box-shadow: 2px 2px 1px 0px var(--ubi-legacy-grey-lighter);
}
.ms-browser .message.info:before,
.ms-browser .message.success:before,
.ms-browser .message.warning:before,
.ms-browser .message.error:before {
    top: 50%;
    left: 0;
    margin-top: -10px;
    line-height: 20px;
    width: 40px;
    position: absolute;
    text-align: center;
    font: normal normal normal 20px/1 FontAwesome;
}
.ms-browser .message.info {
    background: var(--ubi-legacy-blue);
}
.ms-browser .message.info:before {
    content: "\f05a";
}
.ms-browser .message.success {
    background: var(--ubi-legacy-green);
}
.ms-browser .message.success:before {
    content: "\f058";
}
.ms-browser .message.warning {
    background: var(--ubi-legacy-orange);
}
.ms-browser .message.warning:before {
    content: "\f071";
}
.ms-browser .message.error {
    background: var(--ubi-legacy-red);
}
.ms-browser .message.error:before {
    content: "\f06a";
}

/* channels tab */
.ms-browser.has-tree.in-overlay .ms-browser-tree-place,
.ms-browser.has-tree.in-overlay .ms-browser-channels-body {
    padding: 0.5em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
}
.ms-browser.has-tree .ms-browser-tree-place {
    padding: 0.5em;
    float: left;
    width: 18em;
    background: var(--ubi-legacy-white-darker);
}
.ms-browser.has-tree.in-overlay .ms-browser-tree-place {
    float: none;
    right: auto;
}
.ms-browser.has-tree .ms-browser-channels-body {
    margin-left: 19em;
}
.ms-browser.has-tree.in-overlay .ms-browser-channels-body {
    margin-left: 0;
    left: 19em;
}
/* channels tree */
.ms-channels-tree ul {
    padding-left: 0;
}
.ms-channels-tree li {
    overflow: hidden;
    list-style: none;
}
.ms-channels-tree ul ul {
    display: none;
    padding-left: 1.6em;
}
.ms-channels-tree li > span {
    display: block;
}
.ms-channels-tree li .list-entry {
    padding: 0;
    display: block;
    float: left;
    text-align: center;
    font-weight: normal;
    width: 1.3em;
    height: 1.3em;
    line-height: 1;
    cursor: default;
    background: var(--ubi-legacy-white);
    border: 1px solid var(--ubi-legacy-grey-lighter);
    border-radius: 2px;
    box-sizing: content-box;
}
.ms-channels-tree li .list-entry {
    cursor: pointer;
}
.ms-channels-tree li .list-entry .fa {
    padding: 0;
}
.ms-channels-tree .channel-personal-btn {
    float: right;
}
.ms-channels-tree #tree_channel_0 {
    clear: both;
}
.ms-channels-tree .channel-btn {
    padding: 0.2em 0.4em;
    display: block;
    text-align: left;
    line-height: 1;
    cursor: pointer;
    color: var(--ubi-legacy-blue);
    background: transparent;
    border: 0 none;
    text-decoration: none;
    word-wrap: break-word;
    border-radius: 4px;
    box-sizing: content-box;
}
.ms-channels-tree li .channel-btn {
    margin-left: 1.6em;
}
.ms-channels-tree .channel-btn:hover {
    text-decoration: underline;
}
.ms-channels-tree .channel-active .channel-btn {
    font-weight: bold;
    color: var(--ubi-legacy-white);
    background-color: var(--ubi-legacy-blue);
}
.ms-channels-tree .channel-locked,
.ms-channels-tree .channel-empty,
.ms-channels-tree .channel-empty .channel-btn {
    color: var(--ubi-legacy-black-lighter);
}

/* search tab */
.ms-browser .ms-browser-search-form {
    display: inline;
}
.ms-browser .ms-browser-search-form input {
    width: auto;
    padding: 3px;
    line-height: normal;
}
.ms-browser .ms-browser-search-matching {
    padding: 10px 30px;
}
.ms-browser .ms-browser-more-btn {
    padding: 10px 5px;
    text-align: center;
}
/* no header adjustments */
.ms-browser.no-header .ms-browser-header .ms-browser-top-buttons,
.ms-browser.no-header .ms-browser-header .ms-browser-menu,
.ms-browser.no-header .ms-browser-bar,
.ms-browser.no-header .ms-browser-search-form {
    display: none;
}
.ms-browser.no-header .ms-browser-header {
    height: auto;
}
.ms-browser.no-header .ms-browser-header .ms-browser-title {
    white-space: normal;
}
.ms-browser.no-header .ms-browser-header .ms-browser-title .parent-channel-title,
.ms-browser.no-header .ms-browser-header .ms-browser-title .channel-title {
    white-space: nowrap;
}

/* 64em ~ 1000px */
@media (max-width: 64em) {
    .ms-browser .ms-browser-title {
        padding: 0;
    }
    .ms-browser .ms-browser-content {
        padding: 0;
    }
}
/* 51em ~ 800px */
@media (max-width: 51em) {
    .ms-browser.has-tree .ms-browser-tree-place {
        width: 15em;
    }
    .ms-browser.has-tree .ms-browser-channels-body {
        margin-left: 16em;
    }
    .ms-browser.has-tree.in-overlay .ms-browser-channels-body {
        left: 16em;
    }
}
/* 41em ~ 640px */
@media (max-width: 41em) {
    .ms-browser .ms-browser-channels-body {
        left: 0;
    }
    .ms-browser.in-overlay .ms-browser-header,
    .ms-browser.in-overlay .ms-browser-bar,
    .ms-browser.in-overlay .ms-browser-main,
    .ms-browser.has-tree.in-overlay .ms-browser-tree-place,
    .ms-browser.has-tree.in-overlay .ms-browser-channels-body {
        position: static;
    }
    .ms-browser.has-tree .ms-browser-tree-place {
        display: none;
    }
    .ms-browser .ms-browser-channels-body {
        padding: 10px 0;
    }
    .ms-browser.has-tree .ms-browser-channels-body {
        margin-left: 0;
    }
    .ms-browser.in-overlay .ms-browser-bar,
    .ms-browser .ms-browser-header {
        height: auto;
    }
    .ms-browser-dropdown-right .ms-browser-dropdown-menu {
        right: -10px;
    }
    .ms-browser .ms-browser-title {
        padding: 0;
        width: 100%;
        font-size: 150%;
    }
    #ms_browser_display_dropdown #hidden_categories {
        width: auto;
    }
}
/* 29em ~ 450px */
@media (max-width: 29em) {
    .ms-browser .ms-browser-search-form input {
        width: 50%;
    }
}
