/* Additional CSS for non overlay use */
html.iframe .ms-browser-container {
    background: #fff;
}
nav.navbar .buttons-left .back {
    font-size: 1.1em;
}
nav.navbar .buttons-left > div {
    display: inline-block;
}
nav.navbar .links {
    display: none;
}
nav.navbar .buttons-left,
nav.navbar .buttons-right {
    width: auto;
    vertical-align: middle;
    line-height: 39px;
}
nav.navbar .buttons-right {
    float: right;
}
h1 .item-entry-preview img {
    margin-right: 10px;
    max-width: 100px;
    max-height: 100px;
}
h1 .channel-titles-place {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: calc(100% - 120px);
}
h1 .channel-titles-place .parent-channel-title {
    display: block;
    font-size: 0.6em;
    color: #595959;
}
h1 .channel-titles-place .channel-title {
    display: inline-block;
}
/* ms-browser */
.ms-browser .ms-browser-header,
.ms-browser .ms-browser-bar,
.ms-browser .ms-browser-search-form {
    display: none;
}
.iframe .ms-browser .ms-browser-header,
.iframe .ms-browser .ms-browser-bar,
.iframe .ms-browser .ms-browser-search-form {
    display: block;
}
.iframe .ms-browser.no-header .ms-browser-bar,
.iframe .ms-browser.no-header .ms-browser-search-form,
.iframe .ms-browser.no-header .ms-items .item-description,
.iframe .ms-browser.no-header h3 {
    display: none;
}
.ms-browser .ms-browser-section {
    overflow: visible;
}
.ms-browser .ms-browser-main h2,
.ms-browser .ms-browser-main h3 {
    padding: 20px;
    padding-bottom: 10px;
}
.ms-browser .ms-browser-main .ms-browser-section {
    padding: 20px;
    padding-top: 0;
}
/* channels tab */
.ms-browser-content .channel-description-text,
.ms-browser-content .channel-items-count,
.ms-browser-content .channel-storage-usage {
    margin: 10px;
}
.ms-browser-content .channel-description-text.short-desc {
    cursor: pointer;
}
.ms-browser-content .channel-storage-usage .progress-bar {
    margin: 0 10px;
    width: 150px !important;
}
.ms-browser-content .channel-description-stats span + span {
    margin-left: 20px;
}
.ms-browser-content .channel-description-stats,
.ms-browser-content .channel-description-rss {
    padding: 0 15px;
}
.ms-browser-content .channel-description-rss a {
    margin-left: 10px;
}
.ms-browser-content .item-entry-links {
    text-align: right;
}
/* overlay-info */
.overlay-info .overlay-info-content .item-entry-links,
.overlay-info .overlay-info-content .item-entry-links-container {
    position: static;
    display: block;
    text-align: left;
}
.overlay-info {
    z-index: 10;

    width: 500px !important;
}
.overlay-info form + form {
    margin-top: 12px;
}
.overlay-info {
    max-width: 95%;
    top: 0;
    left: auto;
    right: auto;
    display: none;
    position: absolute;
    text-align: left;
    width: 361px;
    border: 1px solid #aaa;
    color: #fff;
    overflow: hidden;
    background: #222;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}
.overlay-info-title {
    position: relative;
    background: #eee;
}
.overlay-info h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}
.overlay-info h1 a {
    padding: 4px 8px;
    padding-right: 30px;
    display: block;
}
.overlay-info .overlay-info-close {
    right: 2px;
    top: 2px;
    position: absolute;
    width: 26px;
    height: 26px;
    font-size: 150%;
    text-align: center;
    display: block;
    padding: 0;
    cursor: pointer;
}
.overlay-info .overlay-info-close i {
    padding: 0;
    display: block;
}
.overlay-info .overlay-info-content {
    padding: 6px;
}
.overlay-info .overlay-info-content a,
.overlay-info .overlay-info-content a:hover {
    color: inherit;
    text-decoration: underline;
}
.overlay-info div.description-content {
    padding-left: 12px;
    padding-right: 12px;
}
.overlay-info table.overlay-info-table td {
    padding: 4px 0;
    vertical-align: top;
    border: 0 none;
}
.overlay-info table.overlay-info-table th.overlay-info-label {
    padding-right: 8px;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    border: none;
    background: transparent;
}
.overlay-info .item-entry-links .button a {
    text-decoration: none;
    color: #333;
}
@media (max-width: 800px) {
    nav.navbar .buttons-left,
    nav.navbar .buttons-right {
        width: auto;
    }
    .overlay-info {
        left: auto!important;
        right: auto!important;
    }
}
@media (max-width: 600px) {
    #global .main-title h1 {
        text-align: center;
        max-width: 100%;
    }
    .ms-browser .ms-browser-main .ms-browser-section {
        padding: 5px;
    }
    .ms-browser-content .channel-description-text,
    .ms-browser-content .channel-description-stats {
        margin: 0;
        padding: 0;
    }
    .ms-browser-content .channel-description-rss {
        display: none;
    }
}