/* CSS for MediaServer items */
.ms-items .item-entry {
    margin: 10px;
    position: relative;
    display: block;
    display: inline-block;
    width: calc(50% - 20px);
    vertical-align: top;
}
.ms-items .item-description {
    padding: 10px;
    background: #fff;
    border-bottom: 3px solid #ddd;
}
.ms-items .item-entry * {
    box-sizing: content-box;
}
.ms-items .item-entry-link {
    display: block;
    color: inherit;
    overflow: hidden;
    background: #efefef;
    color: #404040;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
}
.ms-items .clickable .item-entry-link {
    cursor: pointer;
}
.ms-items .selected .item-entry-link,
.ms-items .selected .item-entry-link:hover {
    color: #354b75;
    border-bottom: 3px solid #4466a6;
}
.ms-items .item-entry .item-entry-link:hover {
    border-bottom: 3px solid #2cb6b5;
    text-decoration: none;
}
.ms-browser-title .item-entry-preview {
    margin-right: 10px;
}
.ms-items .item-entry-preview {
    margin: 10px;
    width: 240px;
    height: 135px;
    line-height: 1;
    text-align: center;
    float: left;
    display: block;
    position: relative;
}
.ms-items .item-entry-preview img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.ms-items .item-entry-preview .item-entry-preview-aligner {
    margin-left: -1px;
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.ms-items .item-entry-preview .item-entry-preview-play {
    margin-top: -2em;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: none;
    color: #fff;
    text-shadow: 0 0 5px #404040;
    background: transparent none 50% 50% no-repeat;
}
.ms-items .item-entry-preview .item-entry-preview-play i {
    line-height: inherit;
}
.ms-items .item-entry-link:hover .item-entry-preview .item-entry-preview-play {
    display: block;
}
.ms-items .item-entry-content {
    margin: 10px;
    margin-left: 260px;
    display: block;
}

.ms-items .item-entry-top-bar {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
}
.ms-items .item-entry-top-bar .item-entry-title {
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 0;
}
.ms-items .item-entry-duration,
.ms-items .item-entry-language {
    display: block;
    float: right;
    margin-left: 10px;
    color: #666;
}
.ms-items .item-entry-language i {
    font-style: normal;
}
.ms-items .thumbnail .item-entry-language {
    margin-left: 0;
    padding: 5px;
}
.ms-items .item-entry-layout,
.ms-items .item-entry-unlisted,
.ms-items .item-entry-notpublished,
.ms-items .item-entry-published,
.ms-items .item-entry-notready {
    margin-left: 10px;
    display: block;
    float: right;
    text-align: center;
    cursor: help;
}
.ms-items .item-entry-layout {
    display: none;
}
.show-types-icons .ms-items .item-entry-layout {
    display: block;
}
.ms-items .item-entry-layout:before,
.ms-items .item-entry-unlisted:before,
.ms-items .item-entry-notpublished:before,
.ms-items .item-entry-published:before,
.ms-items .item-entry-notready:before {
    color: #666;
    font: normal normal normal 16px/1 FontAwesome;
}
.ms-items .item-entry-layout.layout-channel:before {
    content: "\f07c";
}
.ms-items .item-entry-layout.layout-pgroup:before {
    content: "\f03e";
}
.ms-items .item-entry-layout.layout-live:before {
    content: "\f09e";
}
.ms-items .item-entry-layout.layout-video:before {
    content: "\f03d";
}
.ms-items .item-entry-layout.layout-composition:before {
    content: "\f247";
}
.ms-items .item-entry-layout.layout-webinar:before {
    content: "\f2c3";
}
.ms-items .item-entry-unlisted:before {
    content: "\f070";
    color: #EC804D;
}
.ms-items .item-entry-notpublished:before {
    content: "\f023";
    color: #E65959;
}
.ms-items .item-entry-published:before {
    content: "\f058";
    color: #43c0c0;
}
.ms-items .item-entry-notready:before {
    content: "\f085";
    color: #EC804D;
}

.ms-items .item-entry-bottom-bar {
    display: block;
}
.ms-items .item-entry-bottom-bar span + span {
    margin-top: 5px;
}
.ms-items .item-entry-type,
.ms-items .item-entry-date,
.ms-items .item-entry .item-entry-description,
.ms-items .item-entry .item-entry-license,
.ms-items .item-entry .item-entry-speaker,
.ms-items .item-entry .item-entry-company,
.ms-items .item-entry-views,
.ms-items .item-entry-storage,
.ms-items .item-entry-extra,
.ms-items .item-entry-parent {
    display: block;
    color: #666;
    font-size: 0.9em;
}
.ms-items .item-entry-date {
    font-style: italic;
}
.ms-items .item-entry-extra {
    margin: 0 10px;
    padding: 5px 10px;
    padding-bottom: 0;
    font-style: italic;
    text-align: left;
    background: #efefef;
    color: #404040;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ms-items .item-entry-extra ul {
    overflow: auto;
    max-height: 100px;
}

.ms-items .item-entry-links {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;
}
.ms-items .item-entry-links-container {
    display: none;
}
.ms-items .item-entry:hover .item-entry-links-container,
.ms-items .item-entry.focus .item-entry-links-container {
    display: block;
}
.ms-items .item-entry .item-entry-description {
    max-height: 60px;
    overflow: auto;
}

/* thumbnail mode */
.ms-items .item-entry.thumbnail {
    padding: 0;
    width: 240px;
    cursor: auto;
    display: inline-block;
    text-align: center;
    line-height: inherit;
}
.ms-items .item-entry.thumbnail > .item-entry-link {
    height: 100%;
}
.ms-items .item-entry.thumbnail .item-entry-preview,
.ms-items .item-entry.thumbnail .item-entry-content,
.ms-items .item-entry.thumbnail .item-entry-top-bar,
.ms-items .item-entry.thumbnail .item-entry-bottom-bar {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
.ms-items .item-entry.thumbnail .item-entry-preview {
    height: 135px;
}

.ms-items .item-entry.thumbnail .item-entry-top-bar {
    padding-right: 5px;
    top: 0;
    left: 0;
    position: absolute;
    background: #fff;
    width: auto;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ms-items .item-entry.thumbnail .item-entry-layout,
.ms-items .item-entry.thumbnail .item-entry-unlisted,
.ms-items .item-entry.thumbnail .item-entry-notpublished,
.ms-items .item-entry.thumbnail .item-entry-published,
.ms-items .item-entry.thumbnail .item-entry-notready,
.ms-items .item-entry.thumbnail .item-entry-duration {
    margin-left: 5px;
    padding: 5px;
    float: left;
    font-style: italic;
}
.ms-items .item-entry.thumbnail .item-entry-duration {
    font-style: normal;
    font-weight: 500;
    color:#666;
    padding-left: 0;
}
.ms-items .item-entry.thumbnail .item-entry-middle-bar {
    top: 135px;
    left: 0;
    width: 100%;
    height: 0;
    position: absolute;
}
.ms-items .item-entry.thumbnail .item-entry-views {
    padding: 3px 6px;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #fff;
    width: auto;
    border-top-left-radius: 3px;
}
.ms-items .item-entry.thumbnail .item-entry-top-bar > *,
.ms-items .item-entry.thumbnail .item-entry-bottom-bar > * {
    word-wrap: break-word;
}
.ms-items .item-entry.thumbnail .item-entry-bottom-bar span {
    margin: 0;
    padding: 10px;
    display: block;
}
.ms-items .item-entry.thumbnail .item-entry-bottom-bar span + span {
    padding-top: 0;
}
.ms-items .item-entry.thumbnail .item-entry-title {
    text-overflow: ellipsis;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    font-size: 1em;
    color: #404040;
}
.ms-items .item-entry.thumbnail .item-entry-buttons {
    top: 0;
    right: 0;
    position: absolute;
}
.ms-items .item-entry.thumbnail .item-entry-buttons a,
.ms-items .item-entry.thumbnail .item-entry-buttons button {
    display: none;
    cursor: pointer;
    border: none;
    background: white;
    padding: 0;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
    font-size: 1.5em;
    background: #404040;
    color: #fff;
}
.ms-items .item-entry.thumbnail .item-entry-buttons a:hover,
.ms-items .item-entry.thumbnail .item-entry-buttons button:hover {
    background: #354b75;
}
.ms-items .item-entry.thumbnail .item-entry-info.info-displayed,
.ms-items .item-entry.thumbnail.focus .item-entry-buttons a,
.ms-items .item-entry.thumbnail.focus .item-entry-buttons button,
.ms-items .item-entry.thumbnail:hover .item-entry-buttons a,
.ms-items .item-entry.thumbnail:hover .item-entry-buttons button {
    display: block;
}
.ms-items .item-entry.thumbnail .item-entry-buttons .fa {
    padding: 0.25em;
    line-height: 1.5em;
}
.ms-items .item-entry-copy {
    position: relative;
}
.ms-items .item-entry-copy .copy-msg {
    display: none;
}
.ms-items .item-entry-copy.copied > * {
    visibility: hidden;
}
.ms-items .item-entry-copy.copied > .copy-msg {
    visibility: visible;
    padding-top: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: block;
}

/* 82em ~ 1280px */
@media (max-width: 82em) {
    .has-tree .ms-items .ms-browser-channels-place .item-entry.list {
        display: block;
        width: auto;
    }
    .ms-items .item-entry-preview {
        width: 120px;
        height: 91px;
    }
    .ms-items .item-entry-content {
        margin-left: 140px;
    }
    .ms-items .item-entry .item-entry-description {
        display: none;
    }
}
/* 64em ~ 1000px */
@media (max-width: 64em) {
    .ms-items .item-entry.thumbnail {
        width: 176px;
        font-size: inherit;
    }
    .ms-items .item-entry.thumbnail .item-entry-preview {
        height: 99px;
    }
    .ms-items .item-entry.thumbnail .item-entry-middle-bar {
        top: 99px;
    }
    .ms-items .item-entry.thumbnail .item-entry-buttons a,
    .ms-items .item-entry.thumbnail .item-entry-buttons button {
        font-size: inherit;
    }
    .ms-items .item-entry-preview .item-entry-preview-play {
        margin-top: -1em;
    }
    .ms-items .item-entry-preview .item-entry-preview-play .fa-4x {
        font-size: 2em;
    }
}
/* 51em ~ 800px */
@media (max-width: 51em) {
    .ms-items .item-entry-top-bar .item-entry-title {
        font-size: inherit;
    }
    .ms-items .item-entry.list {
        display: block;
        margin: 10px 0;
        width: auto;
    }
    .ms-items .item-entry-layout,
    .ms-items .item-entry-unlisted,
    .ms-items .item-entry-notpublished,
    .ms-items .item-entry-published,
    .ms-items .item-entry-notready {
        margin-right: 3px;
    }
}
/* 41em ~ 640px */
@media (max-width: 41em) {
    .ms-items .item-entry-preview {
        margin: 5px;
        width: 60px;
        height: 45px;
    }
    .ms-items .item-entry-content {
        margin: 5px;
        margin-left: 70px;
    }
    .ms-items .item-description {
        padding: 5px;
    }
}
